@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url(./toggle.css);

:root {
  --primary-color: #ec5242;
  --secondary-color: #272a31;
  --light-color: #d3d3d3;
  --second-color: rgb(255, 255, 255);
  --font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0.25rem;
  padding: 0 1rem;
  background-image: url(../images/pictures/main_big.png);
}

.top-nav {
  display: none;
}

.logo {
  height: 22px;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}

.logo .half {
  color: var(--primary-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  opacity: 0.9;
  backdrop-filter: blur(7px);
  transition: all 1s ease;
  display: none;
}

.active.mobile-menu {
  display: block;
}

.nav-list {
  margin-top: 10rem;
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}

.nav-list .nav-content {
  padding-top: 1px;
}

.nav-list .nav-content a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--light-color);
  font-size: 20px;
  line-height: 44px;
}

.nav-list .nav-content a:hover,
.nav-list .nav-content a:focus {
  color: var(--primary-color);
}

.nav-list .nav-content .tickets {
  padding: 16px;
  color: var(--primary-color);
  width: 113px;
  height: 51px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
}

.nav-list .nav-content .tickets:hover,
.nav-list .nav-content .tickets:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

#hero-section {
  background: #fff;
  background-image: url(../images/pictures/main_big.png);

  /* background-size: 100% auto;
  background-position: center; */
  background-repeat: no-repeat;
  min-height: 587.15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em;
}

.headliner-start {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--primary-color);
}

.hero-container h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  color: var(--primary-color);
}

.hero-details {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--secondary-color);
  border: 4px solid var(--second-color);
  padding: 1em;
}

.hero-end {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0;
  margin-top: -1rem;
  margin-left: 2rem;
}

.hero-end :nth-child(1) {
  color: var(--primary-color);
}

.hero-end :nth-child(2) {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hero-end :last-child {
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: var(--secondary-color);
  margin-top: -1rem;
}

#main-program {
  background-image: url(../images/pictures/gray-texture.png);
  margin-top: -1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em;
}

h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: var(--light-color);
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

hr {
  width: 70px;
  border: 0.8px solid #ec5242;
  margin: 0 auto;
}

.program-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.programs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  background-color: #393c43b3;
  padding: 10px;
  gap: 10px;
}

.programs i {
  font-size: 3rem;
  color: var(--light-color);
}

.program-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color);
  text-transform: capitalize;
}

.program-dets {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--light-color);
  text-transform: capitalize;
}

.btn {
  background-color: var(--primary-color);
  color: var(--light-color);
  text-transform: capitalize;
  margin-top: 1em;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--light-color);
  color: var(--primary-color);
}

#performing-artist {
  padding: 1em 1em;
}

#performing-artist h2 {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
}

.artist-container {
  margin-top: 1rem;
  display: grid;
  gap: 20px;
}

.artists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.artist-img img:nth-child(1) {
  width: 80px;
  height: 80px;
}

.artist-img img:nth-child(2) {
  width: 120px;
  height: 120px;
  position: relative;
  bottom: 69px;
  left: 9px;
}


.artist-info .artist-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.artist-info .performance-time {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--primary-color);
}

.artist-info .artist-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

#partners {
  background-color: var(--secondary-color);
  padding: 1rem 1rem;
}

.partners-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 1rem;
}

footer {
  padding: 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer .logo {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

footer p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  transform: translateY(6px);
}

/* desktop view */
@media only screen and (min-width: 768px) {
  #navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #fff;
    box-shadow: 0 1px 10px -5px grey;
    height: 72px;
    z-index: 2;
    padding: 1rem 9rem;
  }

  .top-nav {
    display: block;
  }

  .top-nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--secondary-color);
    padding: 5px 190px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .top-nav a {
    color: var(--light-color);
  }

  .top-nav a:hover,
  .top-nav li:hover
  {
    color: #fff;
  }

  .top-nav li {
    margin-right: 20px;
    color: var(--light-color);
    cursor: pointer;
  }

  

  nav {
    display: flex;
    justify-content: flex-end;
  }

  .menu-toggle {
    display: none;
  }

  .mobile-menu {
    background-color: transparent;
    backdrop-filter: none;
    padding: 20px 16px;
    display: contents;
  }

  .nav-list {
    margin-left: initial;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    list-style: none;
    text-transform: capitalize;
    margin-top: -14px;
    flex-direction: row;
    padding: 3em 0;
  }

  .nav-list .nav-content a {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    position: relative;
  }

  .nav-list .nav-content a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: transform 200ms ease-in-out;
    transform-origin: left;
    transform: scaleX(0);
  }

  .nav-list .nav-content a:hover::before {
    transform: scaleX(1);
    transition: 0.1s;
    font-weight: bold;
  }

  .nav-list .nav-content a:hover {
    color: var(--primary-color);
  }

  .mobile {
    margin-top: -0.5em;
  }

  .nav-content .mobile {
    display: none;
  }

  .nav-content .desktop {
    display: block;
  }

  #hero-section {
    padding: 1em 1rem;
  }

  .headliner-start {
    width: 25%;
    transform: translateY(3rem);
  }

  .hero-container h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    width: 84%;
  }

  .hero-details {
    width: 40%;
    transform: translateY(-3rem);
  }

  .hero-end {
    color: var(--light-color);
    margin-left: 0;
    transform: translateY(-3rem);
  }

  .hero-end :nth-child(2) {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
  }

  .hero-end :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
  }

  #main-program {
    padding: 1em 1rem;
  }

  .program-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }

  .programs {
    flex-direction: column;
  }

  .program-dets {
    text-align: center;
  }

  .btn {
    background-color: transparent;
    border-bottom: 1px solid var(--light-color);
    padding: 0;
  }

  #performing-artist {
    padding: 1em 1em;
    align-items: center;
    justify-content: center;
  }

  .artist-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .partners-container {
    padding: 5em 9rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .partners-container img:hover {
    transform: translateY(10px);
    transition: all 0.5s;
  }
}

@media only screen and (min-width: 992px) {
  .hero-container h1 {
    width: 65%;
  }

  #performing-artist {
    padding: 5em 9rem;
    align-items: center;
    justify-content: center;
  }

  .partners-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (min-width: 1440px) {
  #hero-section {
    padding: 5em 9rem;
  }

  .headliner-start {
    width: 16%;
    transform: translateY(3rem);
  }

  .hero-container h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    width: 50%;
  }

  .hero-details {
    width: 40%;
    transform: translateY(-3rem);
  }

  #main-program {
    padding: 5em 9rem;
  }
}
