@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url(./toggle.css);

:root {
  --primary-color: #ec5242;
  --secondary-color: #272a31;
  --light-color: #d3d3d3;
  --second-color: rgb(255, 255, 255);
  --font-family: 'Lato', sans-serif;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0.25rem;
  padding: 0 1rem;
  background-image: url(../images/pictures/main_big.png);
}

.logo {
  height: 22px;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}

.logo .half {
  color: var(--primary-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  opacity: 0.9;
  backdrop-filter: blur(7px);
  transition: all 1s ease;
  display: none;
}

.active.mobile-menu {
  display: block;
}

.nav-list {
  margin-top: 10rem;
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}

.nav-list .nav-content {
  padding-top: 1px;
}

.nav-list .nav-content a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--light-color);
  font-size: 20px;
  line-height: 44px;
}

.nav-list .nav-content a:hover,
.nav-list .nav-content a:focus {
  color: var(--primary-color);
}

.nav-list .nav-content .tickets {
  padding: 16px;
  color: var(--primary-color);
  width: 113px;
  height: 51px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
}

.nav-list .nav-content .tickets:hover,
.nav-list .nav-content .tickets:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

#hero-section {
  background: #fff;
  background-image: url(../images/pictures/main_big.png);

  /* background-size: 100% auto;
  background-position: center; */
  background-repeat: no-repeat;
  min-height: 587.15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em;
}

.headliner-start {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--primary-color);
}

.hero-container h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  color: var(--primary-color);
}

.hero-details {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--secondary-color);
  border: 4px solid var(--second-color);
  padding: 1em;
}

.hero-end {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0;
  margin-top: -1rem;
  margin-left: 2rem;
}

.hero-end :nth-child(1) {
  color: var(--primary-color);
}

.hero-end :nth-child(2) {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hero-end :last-child {
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: var(--secondary-color);
  margin-top: -1rem;
}

#main-program {
  background-image: url(../images/pictures/gray-texture.png);
  margin-top: -1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em;
}

#main-program h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: var(--light-color);
  text-transform: capitalize;
}

hr {
  width: 70px;
  border: 0.8px solid #ec5242;
  margin: 0 auto;
}

.program-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.programs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  background-color: #393c43b3;
  padding: 10px;
  gap: 10px;
}

.programs img {
  height: 100px;
  width: 100px;
}

.program-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color);
  text-transform: capitalize;
}

.program-dets {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--light-color);
  text-transform: capitalize;
}

.btn {
  background-color: var(--primary-color);
  color: var(--light-color);
  text-transform: capitalize;
  margin-top: 1em;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--light-color);
  color: var(--primary-color);
}

#performing-artist {
  padding: 1em 1em;
}

#performing-artist h2 {
  display: flex;
  justify-content: center;
}

.artist-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.artists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.artist-img img:nth-child(1) {
  width: 80px;
  height: 80px;
}

.artist-img img:nth-child(2) {
  width: 120px;
  height: 120px;
  position: relative;
  bottom: 69px;
  left: 9px;
}

/* .artist-info {

} */

.artist-info .artist-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.artist-info .performance-time {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--primary-color);
}

.artist-info .artist-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
